<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnme">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EmailVerification"></activity>
        <activity android:name=".AvatarPicker" />
        <activity android:name=".PointInfo" />
        <activity android:name=".QuizResult" />
        <activity android:name=".QuizExpand" />
        <activity android:name=".QuizList" />
        <activity android:name=".PointHistory" />
        <activity android:name=".ListOfAnswerUser" />
        <activity android:name=".ListOfQuestionUser" />
        <activity android:name=".EmailSuccess" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Profile" />
        <activity android:name=".About" />
        <activity android:name=".AskQuestion" />
        <activity android:name=".QuestionExpand" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".ItemExpand" />
        <activity android:name=".AvatarShop" />
        <activity android:name=".HomePage" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity android:name=".OnBoardingScreen" />
        <activity android:name=".OnBoardingQuiz" />
        <activity android:name=".MainActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>