<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnme">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RTO"></activity>
        <activity android:name=".ChangeLanguage" />
        <activity
            android:name=".AvatarPicker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PointInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizExpand"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PointHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListOfAnswerUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListOfQuestionUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmailSuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AskQuestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestionExpand"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemExpand"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AvatarShop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnBoardingScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnBoardingQuiz"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>